.Letter{
  width : 1070px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
}

.Frame {
  width:1070px;
  margin-top: 20px;
  border: 1x solid rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.previewComponent {
  margin-top: 40px;
  width: 1000px;
  height: 500px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  overflow: hidden;
  line-height: 500px;
}

.previewComponent label{
  display: block;
  width: 1000px;
  color: rgb(150, 150, 150);
  background-color: none;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
    z-index: 5;
}

.previewComponent input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Upload-Photo{
  position: relative;
  width : 100%; 
  top : 50%;
  transform: translateY(-50%);
}

.Upload-Column{
  width: 800px;
  display: flex;
  justify-content: flex-start;
  margin-top : 15px;
}

.CatTagCategory{
  display: flex;
  font-size: 20px;
  margin-top: 30px;
}

.Upload-Title{
    margin: 6px 13px 6px 0;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: black;
    align-self: flex-start
  }

.CategoryDropBox{
  font-size: 15px;
  margin-left: 10px;
  padding-left: 15px;
  height: 30px;
  width: 300px;
  border : 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  outline: none;
}

.Upload-Tag{
  display: flex;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
}


.TagInput{
  width: 300px;
  height: 30px;
  display: flex;
  background: rgb(230,230,230);
  border-radius: 5px;
  border : none;
  outline-color: rgb(82, 195, 181);
  padding-left: 15px;
  font-size: 14px;
}

.TagExpl{
  font-size: 13px;
  margin-left: 5px;
  color: rgb(180, 180, 180);
}

.Price{
  display:none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
}

.PriceInput{
  width: 300px;
  height: 30px;
  display: flex;
  background: rgb(230,230,230);
  border-radius: 5px;
  border : none;
  outline-color: rgb(82, 195, 181);
  padding-left: 17px;
  margin-left: 37px;
}

.Upload-Column .free{
  margin-right : 5px;
  justify-content: space-between;
}

.Upload-Column .charge{
  margin-right : 5px;
  margin-left : 25px;
  justify-content: space-between;
}

.Upload-Coulmn-inputRadio{
  font-size: 15px;
  margin : 5px 25px 10px 5px;
}

.Upload-Copyright{
  display: flex;
  margin-top : 5px;
  margin-left: 21px;
}

.Upload-Copyright input{
  margin : 4px 5px 0 0;
}

.Upload-Coulmn-inputCheckbox{
  margin-right : 20px;
}


.uploadBtn{
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(82, 195, 181);
  width: 120px;
  height: 50px;
  border-radius: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  margin : 35px 0 35px 0;
}

.Unvisible{
  display: none;
}
.Visible{
  width: 600px;
  display: block;
  padding : 10px 25px 25px 25px;
  margin-right: 50px;
  border : 1px solid rgb(210, 210, 210);
}

#private{
  margin-left: 65px;
}