.MyPage-Film{
    display: flex;
    align-items: center;
}

.MyFilmBtn{
    height: 27px;
    font-size: 15px;
    font-weight: 600;
    width: 75px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: rgb(100, 100, 100);
    background: rgb(230, 230, 230);
    margin-left : 15px;
}