.MyFilm{
    display: flex;
    font-size : 13px;
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 400;
}

.MyFilm .Amount{
    margin-left: 5px; 
    color : rgb(82, 195, 181);
}

#mypage{
    font-size: 15px;
    margin-bottom: 5px;
}